body {
    margin: 0;
    text-decoration: none;
    font-family: "Inter", sans-serif;
    font-style: normal;
}

h1 {
    position: absolute;
    visibility: hidden;
}

nav {
    padding: 1vh 1.5vh;
    position: relative;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    z-index: 1;
    height: 8vh;
    background-color: rgba(154, 155, 218);
    box-shadow: 0px -3px 15px 8px rgba(0, 0, 0, 0.4);
    -webkit-box-shadow: 0px -3px 15px 8px rgba(0, 0, 0, 0.4);
    -moz-box-shadow: 0px -3px 15px 8px rgba(0, 0, 0, 0.4);
}

.overlay {
    height: 100%;
    width: 0%;
    position: fixed;
    z-index: 2;
    left: 0;
    top: 0;
    background-color: rgba(154, 155, 218, 0.95);
    overflow-x: hidden;
    transition: 0.3s;
}


/* Position the content inside the overlay */
.overlay-content {
    position: relative;
    top: 5%;
    width: 50%;
    text-align: left;
    margin-top: 30px;}

.overlay-content hr {
    display: block;
    height: 1px;
    border: 0;
    border-top: 2px solid #181818;
    margin: 0 30px;

}

/* The navigation links inside the overlay */
.overlay a {
    padding: 15px 30px;
    text-decoration: none;
    font-family: "Inter", sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 20px;
    color: #181818;
    display: block;
    transition: 0.3s;
    /* Transition effects on hover (color) */
}

.overlay #closebtn img{
    position: absolute;
    right: 5%;
}

@media screen and (max-width: 450px) {
    .overlay a {
        font-size: 17px;
    }

    .overlay-content{
        width: 60%;
    }

    .overlay-content hr {
        display: block;
        height: 1px;
        width: 100%;
        border: 0;
        border-top: 2px solid #181818;
        margin: 0 30px;
    
    }
}

#botonNavAbrir {
    background: none;
    border: none;
    position: relative;
}

#seccionPrincipal {
    z-index: 0;
    background-color: #F2EFA1;
    width: 100vw;
    display: block;
    padding-top: 6vh;
}

#seccionPrincipal h2{
    margin: 0;
}

#inicioBotones{
    padding: 15vw;
    height: 50vh;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
    align-content: space-between;
}

#vipImg{
    margin-left: 15px;
}

#corporativoImg{
    margin-right: 15px;
}

#culturaImg{
    margin-left: 10px;
}

.inicioImg{
    height: 28vw;
}

.titulosAnim{
    display: flex;
    flex-flow: row nowrap;
    align-items: center;
    overflow: hidden;

    text-decoration: none;
    font-family: "Inter", sans-serif;
    font-style: normal;
    font-weight: 800;
    font-size: 40px;
    margin-bottom: 3vh;
}

.titulosAnim .scrollAnim{
    white-space: nowrap;
    animation: scroll 5s linear infinite;
    max-width: none;
}

.scrollAnim span{
    color: rgba(154, 155, 218, 0.85);
}

@keyframes scroll{
    0%{
        transform: translate(0,0);
    }
    100%{
        transform: translate(-100%, 0);
    }
}

#experiencias{
    height: 100vh;
    width: 100vw;
    position: relative;
    display:flex;
    flex-direction: column;

}

#video{
    width: 90vw;
    margin: 0 auto;
}

.iconoEstrella{
    height: 45px;
    margin: 0 auto;
    margin-top: 3vh;
}

#footer-placeholder{
    display: inline;
}

.subtitulos{
    font-weight: 800;
    font-size: 20px;
    text-align: center;
}

.uniteTexto{
    font-weight: 500;
    font-size: 20px;
    text-align: left;
}

.fondoCuadrado{
    background-image: url(/img/fondoCuadrado.svg);
    background-size: contain;
    background-position: right;
    background-repeat: no-repeat;
    padding: 2.2rem 1rem 4rem 2.2rem;
    margin-left: 20px;
}